body{
    height:100vh;
    margin:0;
    display:flex;
    flex-direction: column;
}

/*FRAME*/

.frame{
    border:12px double black;
}

.sides{
    border-top:none;
    border-bottom:none; 
}


/*HEADER*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:7px 20px;
    background-color: rgb(255, 199, 199);
    font-weight: 900;

    border-bottom: none;
}

#title{
    font-size: 56px;
    text-transform: uppercase;
    color: red;
}

ul{
    padding:0;
    margin:0;
    display: flex;
    gap:12px;
    list-style-type: none;
    font-size:1.1rem;
    color:#d42121;
}

a{  
    color:inherit;
    text-decoration: none;
}

.boxed{
    border-bottom:1px dotted red;
    border-right:1px dotted red;
    border-radius:10px;
    padding: 0.1rem 0.8rem;
}

/*FOOTER*/
.footer{
    background-color: #800000;
    text-align: center;
    padding:8px;
    color:  antiquewhite;

    border-top:none;
}

/*CONTENT*/

.content{
    flex:1;
    align-items: stretch;
    padding:0;
    margin:0;
}

.hero, .info-section, .quote-section, .signup-section{
    padding: 36px 15%;
}

/*HERO*/
.hero{
    background-color: #fd3826;
    display:flex;
    align-items: center;
    gap:20px;
}

.hero-left{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:14px;
    flex:1 1 250px;
}

.hero-title{
    font-size: 32px;
    font-weight: 900;
}

.hero img{
    max-width: 300px;
    max-height: 250px;
    flex:1 1 300px;
    object-fit: cover;
}

/*INFO*/
.info-section{
    background-color: #ffb3b3;
    text-align: center;
}
.information{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 0.8rem;
}

.info {
    width: 150px;
    margin-top: 20px;
}

.info img {
    width: 100px;
    height: 100px;
    object-fit:cover;
    border-radius: 15px 5px;
    margin-bottom: 4px;
}

/*QUOTE*/
.quote-section{
    background-color: #ff3333;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:30px 20%;
    gap:10px;
}

.quote{
    min-height: fit-content;
    font-size: 24px;
    font-style: italic;
}
.author{
    align-self: flex-end;
    font-size: 14px;
    font-weight: bold;
}


/*SIGNUP*/
.signup-section{
    background-color: #ffcccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold{
    font-weight: bold;
    font-size: 24px;
    padding-bottom:15px;
}

.join {
    border-radius: 7px;
    border-color: #cc0000;
    padding: 0.5rem 1rem;
    background-color: #ff4d4d;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
}

.header, .footer{
    flex-shrink: 0;
}